* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto.ttf);
}

:root {
    --primary-color: rgb(0, 153, 230);
    --header-background: white;
    --content-background: rgb(224, 230, 233);
    --searchbar-background: rgb(234, 234, 234);
    --card-background: white;

    --sidebar-text-color: white;
    --header-button-text-color: white;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

hr {
    width: 100%;
    border: 1px solid lightgray
}

.container {
    min-height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: clamp(12rem, 16vw, min(22vw, 22rem)) 1fr;
    grid-template-rows: min(20%, 300px) 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 35vw;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: var(--header-background);
    box-shadow: 0px 2px 10px gray;
    padding: var(--space-md) var(--space-xl);
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    gap: var(--space-md);
}

.search-bar svg {
    max-width: 100%;
    height: clamp(1rem, 1.5vw, 1.5rem);
}

.search-bar input {
    min-width: 90%;
    border: none;
    border-radius: 16px;
    background: var(--searchbar-background);
    padding: var(--space-sm);
}

.profile-container {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: end;
    gap: var(--space-xl);
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-container > .cropped {
    width: 3rem;
    height: 3rem;
}

.greetings {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.greeting-text {
    display: grid;
    font-weight: bold;
    gap: var(--space-xs);
}

.greeting-text p:first-of-type {
    font-size: 1rem;
}

.greeting-text p:last-of-type {
    font-size: 1.5rem;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--space-lg);
}

.header-buttons > button {
    width: clamp(6rem, 7vw, 8rem);
    height: 2.5rem;
    background: var(--primary-color);
    color: var(--header-button-text-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: var(--primary-color);
    padding: var(--space-lg);
}

.dashboard-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    color: var(--sidebar-text-color);
    gap: var(--space-sm);
}

.dashboard-title > svg {
    max-width: 100%;
    height: clamp(1.5rem, 2.5vw, 2.5rem);
    fill: var(--sidebar-text-color);
}

.feature-options, .support-options {
    display: grid;
    gap: var(--space-lg);
}

.feature-options a, 
.support-options a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--sidebar-text-color);
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.sidebar-item svg {
    max-width: 100%;
    height: clamp(1rem, 1.5vw, 1.5rem);
    fill: var(--sidebar-text-color);
}

.cropped {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

.main-content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
    background: var(--content-background);
    padding: var(--space-md);
    gap: var(--space-xl);
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 0.5rem;
    gap: var(--space-xl);
}

.card {
    display: flex;
    flex-direction: column;
    height: 20vh;
    background: var(--card-background);
    border-left: 7px solid rgb(255, 149, 0);
    border-radius: 8px;
    padding: var(--space-xl);
}

.card > p {
    font-size: 0.85rem;
}

.card-actions {
    display: flex;
    margin-top: auto;
    justify-content: end;
    gap: var(--space-md);
}

.card-actions > svg {
    max-width: 100%;
    height: clamp(1rem, 1.5vw, 1.5rem);
}

.side-content {
    display: grid;
    overflow: hidden;
    grid-template-rows: 50% 50%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
}

.announcements-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 90%;
    background: white;
    border-radius: 8px;
    margin-top: 0.5rem;
    gap: var(--space-md);
    padding: var(--space-lg);
}

.announcement > p {
    font-size: 0.7rem;
    color: gray;
}

.trending-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 90%;
    background: white;
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: var(--space-lg);
    gap: var(--space-md);
}

.trending-profile {
    display: flex;
    gap: var(--space-md);
}

.trending-profile > .cropped {
    width: 2.5rem;
    height: 2.5rem;
}

.trending-profile-user {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.trending-profile-user > p {
    font-size: 0.8rem;
}

.trending-profile-user > p:last-of-type {
    color: gray;
}

#profile-picture {
    background-image: url(./assets/nelson.png);
}

#trending-one {
    background-image: url(./assets/mr_fresh.jpg);
}

#trending-two {
    background-image: url(./assets/nelson.png);
}

#trending-three {
    background-image: url(./assets/cat.jpeg);
}

#trending-four {
    background-image: url(./assets/hamster.jpg);
}

#notification-icon {
    max-width: 100%;
    height: clamp(1rem, 1.5vw, 1.5rem);
    fill: black;
}