* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto.ttf);
}

:root {
    --primary-color: rgb(0, 153, 230);
    --header-background: white;
    --content-background: rgb(224, 230, 233);
    --searchbar-background: rgb(234, 234, 234);

    --sidebar-text-color: white;
    --header-button-text-color: white;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

.container {
    display: grid;
    grid-template-columns: clamp(14vw, 16vw, 20vw) 1fr;
    grid-template-rows: min(20%, 300px) 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 35vw;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: var(--header-background);
    box-shadow: 0px 2px 10px gray;
    padding: 1rem 2rem;
    margin-bottom: 5px;
    gap: 3vh;
}

.search-bar {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    gap: 1vw;
}

.search-bar svg {
    max-width: 100%;
    height: 1.5vw;
}

.search-bar input {
    min-width: 90%;
    border: 0;
    border-radius: 16px;
    background: var(--searchbar-background);
    padding: 1vh;
}

.profile-container {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: end;
    gap: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-container > .cropped {
    width: 3rem;
    height: 3rem;
}

.greetings {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.greeting-text {
    display: grid;
    font-weight: bold;
    gap: 0.5vh;
}

.greeting-text p:first-of-type {
    font-size: 1rem;
}

.greeting-text p:last-of-type {
    font-size: 1.5rem;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2vw;
}

.header-buttons > button {
    width: 7vw;
    height: 5vh;
    background: var(--primary-color);
    color: var(--header-button-text-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: var(--primary-color);
    padding: 8px 16px;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--content-background);
}

.dashboard-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    color: var(--sidebar-text-color);
    gap: 0.5vw;
}

.dashboard-title > svg {
    max-width: 100%;
    height: 2.5vw;
    fill: var(--sidebar-text-color);
}

.feature-options, .support-options {
    display: grid;
    gap: 3vh;
}

.feature-options a, 
.support-options a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--sidebar-text-color);
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.sidebar-item svg {
    max-width: 100%;
    height: 1.5vw;
    fill: var(--sidebar-text-color);
}

.cropped {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

#profile-picture {
    background-image: url(image.png);
}

#notification-icon {
    max-width: 100%;
    height: 1.5vw;
    fill: black;
}