* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-background: rgb(0, 170, 255);
    --header-background: white;
    --content-background: rgb(222, 222, 222);
}

.container {
    display: grid;
    grid-template-columns: min(20%, 300px) 1fr;
    grid-template-rows: min(20%, 300px) 1fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: var(--header-background);
    box-shadow: 1px 2px 10px lightgray;
}

.sidebar {
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: var(--sidebar-background);
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--content-background);
}